<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Dispositivos</title>
</head>
<body>
<div class="container" layout:fragment="conteudo">
    <h1>Lista de Dispositivos</h1>
    <div th:if="!${#strings.isEmpty(msg)}" class="alert alert-success">
        <span th:text="${msg}"></span>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Nome Dispositivo</th>
            <th>Tipo Dispositivo</th>
        </tr>
        <tr th:each="dispositivos : ${status}">
            <td th:text="${dispositivos.nomeDispositivo}"></td>
            <td th:text="${dispositivos.tipoDispositivo}"></td>
            <td>
                <a th:href="@{/dispositivos/editar/}+${dispositivos.id}" class="btn btn-sm btn-primary">Editar</a>
                <button th:onclick="|dispositivosId.value = ${dispositivos.id}|" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>
            </td>
        </tr>
    </table>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir o Dispositivo?
                </div>
                <div class="modal-footer">
                    <form th:action="@{/dispositivos/excluir}" method="post">
                        <input type="hidden" id="dispositivosId" name="idStatus">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>